@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter-Regular;
  src: url('Fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Inter-SemiBold;
  src: url('Fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url('Fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('Fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('Fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 400;
}

@layer components {
  .main__background {
    background-image: url(Assets/main.png);
    background-position: 90% -15vh;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .after__block_line::after {
    content: '';
    display: block;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(12, 65, 167, 0.00) 0%, #0C53A7 50.69%, rgba(12, 65, 167, 0.00) 100%);
  }
  .after__tr_line {
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(12, 65, 167, 0.00) 0%, #0C53A7 50.69%, rgba(12, 65, 167, 0.00) 100%);
  }
  .after__results_line::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    left: 0;
    bottom: -30px;
    background: linear-gradient(270deg, rgba(12, 65, 167, 0.00) 0%, #0C53A7 50.69%, rgba(12, 65, 167, 0.00) 100%);
  }
  .winning__block_line:not(:last-child):after {
    margin-top: 20px;
    content: '';
    display: block;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(12, 65, 167, 0.00) 0%, #0C53A7 50.69%, rgba(12, 65, 167, 0.00) 100%);
  }
  .fade__block_right {
    border-radius: 20px;
    background: linear-gradient(90deg, #0A2C61 2.28%, rgba(15, 71, 137, 0.00) 99.73%);
  }
  .fade__block_left {
    border-radius: 20px;
    background: linear-gradient(270deg, #0A2C61 0%, rgba(15, 71, 137, 0.00) 100%);
  }
  .work__background {
    background-image: url(Assets/work/coins.png);
    background-repeat: no-repeat;
    background-size: fit;
    background-position: center;
  } 
  .referral__background {
    background-image: url(Assets/referral/coins.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% -35vh ;
  }
  .result__background {
    background-image: url(Assets/results/coins.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .winning__block_border {
    border-radius: 20px;
    border: 15px solid rgba(11, 59, 154, 0.61);
  }
  .ticket__block {
    width: 640px;
    height: 772px;
    box-shadow: inset 0 0 0 4px #D1AE55;
    background: linear-gradient(286deg, rgba(12, 65, 167, 0.00) -93.47%, #0C53A7 36.43%, rgba(12, 65, 167, 0.00) 121.25%);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .ticket__block::before {
    content: '';
    width: 230px;
    height: 170px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background: #020123;
    transform: translate(-50%, -70%);
    border: 4px solid var(--Yellow1, #D1AE55);
    z-index: 10;
  }
  .ticket__block_field {
    border-radius: 15px;
    background: linear-gradient(94deg, #6D7180 44.12%, rgba(122, 138, 163, 0.56) 69.77%, rgba(109, 113, 128, 0.00) 101.24%, rgba(255, 255, 255));
    width: 100%;
    height: 108px;
    z-index: 10;
    position: relative;
  }
  .ticket__block::after {
    content: '';
    width: 230px;
    height: 170px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #020123;
    transform: translate(-50%, 70%);
    border: 4px solid var(--Yellow1, #D1AE55);
    z-index: 10;
  }
  .ticket__left_text {
    background: linear-gradient(180deg, #F0CC70 21.05%, #DDAE30 68.67%, #D29B22 80.76%, #DD9B12 92.84%, #C3730E 105.47%);
    background-clip: text;
-webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .work__circles {
    background: linear-gradient(90deg, #0A2C61 3.38%, rgba(15, 71, 137, 0.00) 108.42%);
    box-shadow: 0px 6px 14px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(18px);
    border-radius: 100%;
  }
  .landing__main__carousel {
    display: flex;
  }
  .buy__ticket_modal {
    border-radius: 20px;
    background: linear-gradient(70deg, #0F4789 1.81%, rgba(15, 71, 137, 0.00) 117.31%);
  }
  .bought__ticket_modal {
    border-radius: 20px;
    border: 4px solid var(--22, #FFCB12);
    background: linear-gradient(70deg, #0F4789 1.81%, rgba(15, 71, 137, 0.00) 117.31%);
  }
  .bought__ticket_bg::after {
    background-image: url(Assets/congratulations.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .bought__ticket_header {
    border-radius: 8px;
    border: 1px solid var(--text-gold, #E2B20B);
    background: var(--icon, linear-gradient(90deg, #0A2C61 3.38%, rgba(15, 71, 137, 0.00) 108.42%));
  }
  .pagination__arrow path {
    fill: #fff;
  }
  .pagination__arrow:hover path {
    fill: #E2B20B;
  }
  .menu__gradient {
    background: linear-gradient(90deg, #0A2C61 2.28%, rgba(10, 10, 10) 99.73%);
  }
  .button__focus {
    text-shadow: 0px 4px 4px rgba(43, 42, 27, 0.50);
  }
  .button__focus:active {
    transition: all 0.5s;
    box-shadow: inset 0 0 10px black;
  }
}

  @media screen and (max-width: 640px) {
    .main__background {
      background-size: 180% ;
      background-position: -80vw -100px;
    }
    .fade__block_right {
      border-radius: 0px;
    }
    .fade__block_left {
      border-radius: 0px;
    }
    .ticket__block {
      width: 100%;
      height: 100%;
    }
    .ticket__block_field {
      height: 67px;
    }
  .referral__background {
    background-image: url(Assets/referral/presentMobile.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -10vh;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020123;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
